/* style.css */
.select__content {
	transform-origin: var(--kb-select-content-transform-origin);
	animation: contentHide 250ms ease-in forwards;
}
.select__content[data-expanded] {
	animation: contentShow 250ms ease-out;
}
@keyframes contentShow {
	from {
		opacity: 0;
		transform: translateY(-8px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
@keyframes contentHide {
	from {
		opacity: 1;
		transform: translateY(0);
	}
	to {
		opacity: 0;
		transform: translateY(-8px);
	}
}